<!-- <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> -->
<!-- custom-new-product-css -->
  <style>.desktop_show{display:block}.mobile_show{display:none}@media only screen and (max-width:767px){.desktop_show{display:none}.mobile_show{display:block}}.template-product .main-content{background-color:#ece7e0}.product-page{padding-top:0;padding-bottom:0}.product-page-wrapper{padding-top:64px}.product__title{font-size:48px;margin-right:0!important;margin-bottom:30px!important}.stamped-badge-starrating .stamped-fa{font-size:120%!important}.stamped-fa-star{color:#c9a15b}.product__details .stamped-fa:before{font-size:24px;margin-right:4px}.product_customer_reviews .stamped-badge-caption{text-decoration-line:underline;font-size:16px!important;margin-left:15px}.product__details .product__price{color:#131b23;font-weight:700;font-size:22px;letter-spacing:0}.product__align-left .product__price .compare-at{color:#131b23;font-size:22px;margin:0}.inner_sale_point p{margin:0;background-color:#000;color:#fff;border-radius:8px;font-size:16px;font-weight:700;text-align:center;padding:4px 10px;letter-spacing:1px}.coverd_price_sales_text{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;align-items:center;margin-top:40px}.coverd_price_sales_text .product__price{width:40%;margin-top:0}.inner_sale_point{width:44%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;align-items:center;justify-content:center;font-weight:700;border-radius:8px;padding:5px 4px;letter-spacing:0}.inner_sale_point .img_hot_sale{margin-right:6px;max-width:20px}.inner_sale_point .img_hot_sale img{display:block;filter: invert(100%)}.quantity_upper_main .js-qty{margin:0;max-width:140px}.add-to-cart__wrapper{max-width:100%;margin-top:25px}.quantity_upper_main .js-qty__adjust{background:#fff;border-radius:50%;padding:0 10px;margin:5px}.js-qty .js-qty__num{border:none;padding:8px 10px;background-color:#e4ddd3;border-radius:50px;margin-top:20px}.add-to-cart__wrapper .btn--add-to-cart{background-color:#131b23!important;border-color:#131b23!important;color:#ece7e0!important;font-size:18px;border-radius:5px}.below_addtocart_des{margin-top:20px}.below_addtocart_des p{font-size:14px}.addtocart_below_images .common_img_part{width:33.33%;float:left;padding-right:10px}.addtocart_below_images .common_img_part:nth-child(3){padding-right:0}.addtocart_below_images .common_img_part .image{float:left;width:22%}.addtocart_below_images .common_img_part .image svg{width:100%}.addtocart_below_images .common_img_part .image svg path{fill: #000;} .addtocart_below_images .common_img_part .text{float:left;width:78%;padding-left:5px}form{margin-bottom:0}.product_richtext_main{padding-top:50px}.stamped-badge{display:-webkit-box!important;display:-moz-box!important;display:-ms-flexbox!important;display:-webkit-flex!important;display:flex!important;align-items:center;flex-wrap:wrap}.stamped-badge-starrating{vertical-align:unset!important}.product__media__wrapper .slick-next{padding:0;margin-top:0;transform:translateY(-50%)}.product__media__wrapper .slick-prev{padding:0;margin-top:0;transform:translateY(-50%)}.productpage_richtext{max-width:900px;margin:0 auto}.product_richtext_main{padding-bottom:40px}.product_side_by_side_image .inner_img{width:50%;float:left}.product_side_by_side_image .inner_img img{display:block;width:100%}.product_side_by_side_review_image{padding:65px 0}.product_side_by_side_review_image .inner_side_by_img{width:50%;float:left}.product_side_by_side_review_image .inner_side_by_img .inn_text{font-weight:700;margin-bottom:20px}.product_two_image_with_text{padding:80px 0 70px;position:relative}.first_part_inner .inner_left_part{width:50%;float:left;margin-bottom:20px}.first_part_inner .inner_right_part{width:50%;min-height:425px}.first_part_inner .inner_right_part img{width:100%;display:block}.first_part_inner .inner_right_part .image{position:absolute;right:0;left:50%;padding-left:20px;padding-top:20px}.first_part_inner .inner_left_part .inn_inner_left_part{padding-right:76px}.first_part_inner .inner_left_part h2{max-width:480px}.first_part_inner .inner_left_part .richtext{padding-left:17%}.second_part_inner .second_left_part{width:50%;float:left;padding-right:76px}.second_part_inner .second_right_part{width:50%;float:left;padding-left:20px}.second_part_inner .second_left_part .image{padding-left:17%}.second_part_inner .second_left_part .image img{width:100%;display:block}.second_part_inner .second_right_part .inner_sec_top_text{padding-top:28px;font-family:Cormorant,serif}.second_part_inner .second_right_part .inner_sec_top_text p{font-size:30px;line-height:1.3;margin-top:12px}.second_part_inner .second_right_part .inner_sec_top_text p:last-child{margin-bottom:0}.second_part_inner .second_right_part .quote_by{font-family:Cormorant,serif;font-size:22px;margin-bottom:30px;margin-top:5px}.product_two_columns_img_w_text{padding:120px 0 40px}.product_two_columns_img_w_text .top_content{max-width:760px;margin:0 auto}.coverd_column_all_content .inner_column_repeated{width:50%;float:left;margin-top:40px}.coverd_column_all_content .inner_column_repeated.right{padding-right:15px}.coverd_column_all_content .inner_column_repeated.left{padding-left:15px}.coverd_column_all_content .inner_column_repeated:nth-child(2n+1){clear:both}.inner_column_repeated .inner_left_column{width:45%;float:left;padding-right:25px}.inner_column_repeated .inner_right_column{width:55%;float:left}.inner_column_repeated .inner_left_column img{display:block;width:100%}.inner_column_repeated .column_small_heading{margin-bottom:28px}.inner_column_repeated .column_small_heading p{font-weight:700;margin:0}.Review_image_side_by_side{text-align:center;max-width:800px;margin:35px auto 0}.Review_image_side_by_side .image{padding:0 30px;width:50%;float:left}.product_image_with_text_section{padding:40px 0 80px}.product_image_with_text_section img{display:block;width:100%}.inner_image_right_text_left .content_left{width:48%;float:left}.inner_image_right_text_left .image_right_side{width:52%;float:left;padding-left:10px}.inner_image_right_text_left .inner_content_left{max-width:590px;padding:0 40px 20px 32px;margin-right:0;margin-left:auto}.inner_image_left_text_right .image_left_side{width:48%;float:left;padding-right:10px}.inner_image_left_text_right .content_right{width:52%;float:left}.inner_image_left_text_right .inner_content_right{max-width:655px;padding:12% 32px 0 20px;margin-right:auto;margin-left:0}.addtocart_section_extra{padding:50px 0}.inner_addtocart_section{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;align-items:center}.inner_addtocart_section .left_addtocart_part{width:60%;padding-right:20px}.inner_addtocart_section .right_addtocart_part{width:40%;padding-left:50px}.inner_addtocart_section .left_addtocart_part .richtext{max-width:600px}.bottom_addtocart_btn{max-width:100%}.inner_addtocart_section .guarantee_img_text{margin-top:22px}.inner_addtocart_section .guarantee_img_text .guarantee_img{width:auto;float:left;max-width:35px}.inner_addtocart_section .guarantee_img_text .guarantee_text{width:90%;float:left;padding-left:10px}.inner_addtocart_section .guarantee_img_text .guarantee_text p{margin:0;line-height:1.4;font-size:16px}.product_faq_main_section{padding:70px 0 100px}.product_faq_main_section .faq__wrapper{border:none}.product_faq_main_section .faq__button{border-bottom:1px solid;font-weight:700;font-size:16px!important;padding:35px 0 12px;background:0 0;white-space:unset;text-align:left}.product_faq_main_section .content_images{margin-top:25px}.product_faq_main_section .content_images .inner_img{float:left;padding-right:20px;width:40%}.product_faq_main_section .accordion__content.is-visible{padding:20px 0 0}.product_faq_main_section .accordion__chevron{transform:rotate(90deg)}.product_faq_main_section .is-visible .accordion__chevron{transform:rotate(-90deg)}.product_customer_reviews{padding:65px 0 60px}.reviews_carousel_slider{margin:70px 0 60px}.reviews_carousel_slider img{margin:0 auto;width:100%;border-radius:8px}.reviews_carousel_slider .inner_reviews_carousel{padding:0 8px}.reviews_carousel_slider .slick-list{max-width:85%;margin:0 auto}.reviews_carousel_slider .slick-next,.reviews_carousel_slider .slick-prev{padding:0;top:40%;margin:0;opacity:1;transform:translateY(-50%)}.reviews_carousel_slider .slick-dots li button:before{display:none}.reviews_carousel_slider .slick-dots{text-align:center;margin:30px 0 0}.reviews_carousel_slider .slick-dots li{display:inline-block;margin:0 3px}.reviews_carousel_slider .slick-dots li button{background:#e4ddd3;height:8px;width:8px;border-radius:50%;padding:4px}.reviews_carousel_slider .slick-dots li.slick-active button{background:#c9a15b}.product_customer_reviews .stamped-review-content{margin:0}.product_customer_reviews .stamped-review{background:#fff;border-radius:8px;padding:30px 25px;margin-bottom:10px}.product_customer_reviews .stamped-pagination .page.active{text-decoration:none!important}.product_customer_reviews .stamped-pagination .page.active a{background-color:#e4ddd3;border-radius:50%;padding:5px 10px}.product_customer_reviews .stamped-pagination{margin-top:50px!important}#stamped-main-widget{margin:0!important}.product_customer_reviews .slick-arrow svg{width:35px;background:#c9a15b;padding:5px;height:35px;border-radius:50%;color:#fff;fill:#fff}.product_customer_reviews .slick-arrow{opacity:.75}.product_customer_reviews .slick-arrow:hover{opacity:1}.product_shipping_policy_block{padding:100px 0 80px}.inner_shipping_blocks .First_row_inner{padding-bottom:15px;border-bottom:1px solid;margin-bottom:28px}.inner_shipping_blocks .common_block_part{width:50%;float:left}.inner_shipping_blocks .block_left_part{padding-right:15px}.inner_shipping_blocks .block_right_part{padding-left:15px}.inner_shipping_blocks .coverd_icon_heading{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;align-items:center}.inner_shipping_blocks .icon_img{width:auto;max-width:30px;margin-right:10px}.inner_shipping_blocks .icon_img img{display:block}.inner_shipping_blocks .inn_heading{font-weight:700;width:auto;font-size:14px}.inner_shipping_blocks .richtext p{font-size:14px}.inner_shipping_blocks .Second_row_inner{padding-bottom:15px;border-bottom:1px solid;margin-bottom:28px}.inner_shipping_blocks .common_block_part.full_block_part{width:100%;float:none}.bottom_shipping_text{margin-top:60px}.bottom_shipping_text a{text-decoration:underline}.last_two_block{margin-top:25px}@media only screen and (min-width:990px) and (max-width:1200px){.product__title{font-size:38px;margin-bottom:20px!important}.product_customer_reviews .stamped-badge-caption{font-size:15px!important;margin-left:5px}.coverd_price_sales_text{margin-top:22px;     flex-wrap: wrap;}.product__align-left .product__price .compare-at,.product__details .product__price{font-size:18px}.inner_sale_point{width:100%;     justify-content: left}.addtocart_below_images .common_img_part .text{font-size:12px;width:74%}.addtocart_below_images .common_img_part .image{width:26%}.first_part_inner .inner_left_part .inn_inner_left_part{padding-right:50px}.second_part_inner .second_left_part{padding-right:50px}.second_part_inner .second_right_part .inner_sec_top_text{padding-top:10px}.second_part_inner .second_right_part .inner_sec_top_text p{font-size:26px}.second_part_inner .second_right_part .quote_by{font-size:20px}.product_two_columns_img_w_text .top_content{max-width:700px}.product_two_columns_img_w_text{padding:100px 0 30px}.Review_image_side_by_side{margin-top:30px}.product_image_with_text_section{padding:30px 0 60px}.inner_addtocart_section .guarantee_img_text .guarantee_img{width:10%}.inner_addtocart_section .guarantee_img_text .guarantee_text{width:90%}.inner_addtocart_section .right_addtocart_part{padding-left:30px}.product_faq_main_section{padding:50px 0 80px}.product_customer_reviews{padding:50px 0}.reviews_carousel_slider{margin:50px 0 30px}.product_shipping_policy_block{padding:80px 0 70px}.inner_image_left_text_right .inner_content_right{padding-top:6%}}@media only screen and (min-width:768px) and (max-width:989px){.product__title{font-size:30px;margin-bottom:15px!important}.product_customer_reviews .stamped-badge-caption{font-size:14px!important;margin-left:10px}.coverd_price_sales_text{flex-wrap:wrap;margin-top:25px}.coverd_price_sales_text .product__price{width:100%}.product__align-left .product__price .compare-at,.product__details .product__price{font-size:18px}.inner_sale_point{width:100%;margin-top:10px;    justify-content: left}.addtocart_below_images .common_img_part{width:33.33%;margin-bottom:10px;padding-right:5px}.addtocart_below_images .common_img_part .text{font-size:12px;line-height:1.4;padding-left:5px}.addtocart_below_images .common_img_part:nth-child(3){margin-bottom:0}.below_addtocart_des p{font-size:13px}.product__details .stamped-fa:before{font-size:22px;margin-right:4px}.product_richtext_main{padding-top:40px;padding-bottom:30px}.product_side_by_side_review_image{padding:50px 0}.productpage_richtext h3{font-size:34px}.product_side_by_side_review_image .inner_side_by_img:first-child{padding-right:10px}.product_side_by_side_review_image .inner_side_by_img:last-child{padding-left:10px}.first_part_inner .inner_left_part .inn_inner_left_part{padding-right:25px}.first_part_inner .inner_left_part .richtext{padding-left:12%}.second_part_inner .second_left_part .image{padding-left:12%}.second_part_inner .second_left_part{padding-right:25px}.second_part_inner .second_right_part .inner_sec_top_text{padding-top:10px}.second_part_inner .second_right_part .inner_sec_top_text p{font-size:26px}.second_part_inner .second_right_part .quote_by{font-size:20px}.coverd_column_all_content{max-width:700px;margin:0 auto}.coverd_column_all_content .inner_column_repeated.right{padding-right:30px}.coverd_column_all_content .inner_column_repeated.left{padding-left:30px}.coverd_column_all_content .inner_column_repeated{margin-top:35px}.inner_column_repeated .inner_left_column{width:100%;float:left;padding-right:0}.inner_column_repeated .inner_right_column{width:100%;float:left;margin-top:35px;text-align:center}.inner_column_repeated .inner_left_column .image{max-width:250px;margin:0 auto}.Review_image_side_by_side .image{padding:0 10px}.product_two_columns_img_w_text{padding:80px 0 25px}.product_image_with_text_section{padding:25px 0 50px}.inner_image_right_text_left .inner_content_left{padding:0 20px 20px 20px}.inner_addtocart_section .left_addtocart_part{width:55%}.inner_addtocart_section .right_addtocart_part{width:45%;padding-left:20px}.inner_addtocart_section .guarantee_img_text .guarantee_img{width:12%}.inner_addtocart_section .guarantee_img_text .guarantee_text{width:88%;padding-left:5px}.product_faq_main_section{padding:40px 0 70px}.product_customer_reviews{padding:50px 0}.reviews_carousel_slider{margin:40px 0 0}.product_shipping_policy_block{padding:70px 0 60px}.bottom_shipping_text{margin-top:45px}.inner_image_left_text_right .inner_content_right{padding-top:6%}}@media only screen and (max-width:767px){.product_two_columns_img_w_text .top_content{text-align:left!important;}.product-page-wrapper{padding-top:0}.product__title{font-size:30px;margin-bottom:10px!important}.product__details .stamped-fa:before{font-size:20px;margin-right:3px}.product_customer_reviews .stamped-badge-caption{font-size:12px!important;margin-left:8px}.coverd_price_sales_text{margin-top:20px; flex-wrap: wrap;}.coverd_price_sales_text .product__price{width:100%;font-size:16px}.product__align-left .product__price .compare-at{font-size:16px}.inner_sale_point{width:100%;justify-content: unset;margin-top: 10px;padding-left: 0;}.inner_sale_point .img_hot_sale{max-width:18px}.upper_main_qty{width:100%}.quantity_upper_main .js-qty{max-width:100px}.quantity_upper_main .js-qty__adjust{padding:0 6px;margin:4px}.js-qty .js-qty__num{padding:4px 10px;margin-top:18px}.add-to-cart__wrapper{width:100%;max-width:100%;margin-top:20px}.add-to-cart__wrapper.b-app__ATC-container{width:100%;padding-left:0}.add-to-cart__wrapper .btn--add-to-cart{min-height:100%}.below_addtocart_des p{font-size:12px}.product__form__outer{margin-bottom:22px}.product_richtext_main{padding-top:30px;padding-bottom:20px}.productpage_richtext{ text-align: left!important;}.productpage_richtext h3{font-size:25px;margin-bottom:16px}.product_side_by_side_image .inner_img{width:100%;float:none}.product_side_by_side_review_image .inner_side_by_img{width:100%;float:none}.product_side_by_side_review_image .inner_side_by_img .inn_text{margin-bottom:12px}.product_side_by_side_review_image .inner_side_by_img:first-child{margin-bottom:15px}.product_side_by_side_review_image{max-width:500px;padding:45px auto}.product_two_image_with_text{padding:40px 0}.first_part_inner{margin-bottom:20px}.first_part_inner .inner_left_part{width:100%;float:none;margin-bottom:0}.first_part_inner .inner_left_part .inn_inner_left_part{padding:0}.first_part_inner .inner_left_part h2{margin-bottom:30px}.first_part_inner .inner_right_part{width:100%;padding-left:8%}.first_part_inner .inner_right_part .image{position:relative;left:unset;padding:0;margin-right:-16px;margin-bottom:30px}.second_part_inner .second_left_part{width:100%;float:none;padding:0}.second_part_inner .second_left_part .image{padding:0;margin-left:-16px;padding-right:14%}.second_part_inner .second_right_part{width:100%;float:none;padding:0}.second_part_inner .second_right_part .inner_sec_top_text{padding-top:10px}.second_part_inner .second_right_part .inner_sec_top_text p{font-size:20px;line-height:1.4}.second_part_inner .second_right_part .quote_by{font-size:18px}.product_two_columns_img_w_text .top_content{margin-bottom:38px}.coverd_column_all_content .inner_column_repeated.right{padding-right:0}.coverd_column_all_content .inner_column_repeated.left{padding-left:0}.coverd_column_all_content .inner_column_repeated{width:100%;float:none;margin-top:35px}.inner_column_repeated .inner_left_column{width:100%;float:none;padding-right:0;max-width:160px;margin:0 auto}.inner_column_repeated .inner_right_column{width:100%;float:none;text-align:left;margin-top: 25px; }.inner_column_repeated .column_small_heading{margin-bottom:22px}.product_two_columns_img_w_text{padding:45px 0 20px}.Review_image_side_by_side .image{padding:0;width:100%;float:none}.Review_image_side_by_side .image:last-child{margin-top:15px}.product_image_with_text_section{padding:20px 0 50px}.inner_image_right_text_left .content_left{width:100%;float:none}.inner_image_right_text_left .image_right_side{width:100%;float:none;padding:0}.inner_image_left_text_right{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-wrap:wrap}.inner_image_left_text_right .content_right{order:1;width:100%;float:none}.inner_image_left_text_right .image_left_side{width:100%;float:none;padding:0;order:2}.inner_image_left_text_right .inner_content_right{margin:0 auto 35px;padding:30px 20px 0 20px;max-width:100%}.inner_image_right_text_left .inner_content_left{padding:0 20px 25px 20px;margin:0 auto;max-width:100%}.addtocart_section_extra{padding:40px 0}.inner_addtocart_section{flex-wrap:wrap}.inner_addtocart_section .left_addtocart_part{width:100%;text-align:left}.inner_addtocart_section .left_addtocart_part .richtext{max-width:100%;}.inner_addtocart_section .right_addtocart_part{width:100%;padding:0;margin-top:14px}.bottom_addtocart_btn{width:100%}.inner_addtocart_section .guarantee_img_text .guarantee_text{width:88%}.inner_addtocart_section .guarantee_img_text .guarantee_text p{font-size:16px}.product_faq_main_section{padding:45px 0 50px}.product_faq_main_section h2{text-align:left!important;}.product_faq_main_section .faq__button{font-size:16px!important;padding:30px 0 12px}.product_faq_main_section .content_images .inner_img{float:none;padding-right:0;width:100%;margin-top:8px}.product_customer_reviews h2{text-align:left!important;}.collection_title{text-align:left;}.reviews_carousel_slider{margin:25px 0 0}.reviews_carousel_slider .slick-dots{margin:20px 0 0}.product_customer_reviews{padding:40px 0 30px}.product_customer_reviews .stamped-review{padding:25px 25px;margin-bottom:20px}.product_customer_reviews .stamped-pagination{margin-top:30px!important}.product_customer_reviews .stamped-pagination a{font-size:14px}.product_customer_reviews .stamped-pagination .page.active a{padding:3px 8px}.product_shipping_policy_block{padding:35px 0 40px}.inner_shipping_blocks .First_row_inner{padding-bottom:12px;margin-bottom:22px}.inner_shipping_blocks .First_row_inner .common_block_part{width:100%;float:none}.inner_shipping_blocks .First_row_inner .block_left_part{padding-right:0;margin-bottom:25px}.last_two_block{margin-top:20px}.inner_shipping_blocks .First_row_inner .block_right_part{padding-left:0}.inner_shipping_blocks .inn_heading{font-size:12px}.inner_shipping_blocks .richtext p{font-size:12px}.inner_shipping_blocks .last_two_block .block_right_part{padding-left:10px}.inner_shipping_blocks .last_two_block .block_left_part{padding-right:10px}.bottom_shipping_text{margin-top:25px}.addtocart_below_images .common_img_part .image{width:25%}.addtocart_below_images .common_img_part .text{width:75%}}@media only screen and (max-width:700px){.reviews_carousel_slider .slick-list{max-width:100%}}@media only screen and (max-width:600px){.addtocart_below_images .common_img_part{width:33.33%;margin-bottom:10px}.addtocart_below_images .common_img_part .text{font-size:12px;padding-left:5px;width:70%;line-height:1.4}.addtocart_below_images .common_img_part .image{width:30%}.addtocart_below_images .common_img_part{padding-right:5px}.addtocart_below_images .common_img_part:nth-child(3){padding-right:0}.product_richtext_main{padding-top:22px;padding-bottom:15px}.product_side_by_side_review_image{max-width:500px;padding-top:35px;padding-bottom:35px}}.inner_third_img.common_img_part.top_spacing {margin-top: 15px;}.addtocart_below_images .common_img_part:nth-child(6) {padding-right: 0;}.addtocart_below_images .common_img_part:nth-child(4) {clear:both}@media only screen and (max-width: 767px){.inner_third_img.common_img_part.top_spacing {margin-top: 8px;}}
.template-product .homepage-collection .stamped-badge {
    justify-content: left;
}
    .pairs_well_with_covert {
    margin-top: 30px !important;
}
    .kaching-bundles__bar-container .kaching-bundles__bar-most-popular__content{
      display:none;
    }
  .kaching-bundles__bars .kaching-bundles__bar:nth-child(2){
    position: relative;
    padding-top: 20px;
}
   .kaching-bundles__bars .kaching-bundles__bar:nth-child(2) .kaching-bundles__bar-container{
      padding-top: 20px; 
    }
    .kaching-bundles__bars .kaching-bundles__bar:nth-child(2) .kaching-bundles__bar-container:before{
    content: "Most popular!";
        position: absolute;
    top: -20px;
    left: 0px;
    background-color: #000;
    width: calc(100% - 0px);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 4px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 2px solid #000;
    border-bottom: none;
}
      .kaching-bundles__bars .kaching-bundles__bar:nth-child(2) :checked+.kaching-bundles__bar-container:before{
      border-color:#c9a15b;
       background-color: #c9a15b; 
    }
   .kaching-bundles__bars .kaching-bundles__bar:nth-child(3) :checked+.kaching-bundles__bar-container:before{
      border-color:#c9a15b;
     background-color: #c9a15b; 
    }
      .kaching-bundles__bars .kaching-bundles__bar:nth-child(3){
    position: relative;
    padding-top: 20px;
}
       .kaching-bundles__bars .kaching-bundles__bar:nth-child(3) .kaching-bundles__bar-container{
      padding-top: 20px; 
    }
    .kaching-bundles__bars .kaching-bundles__bar:nth-child(3) .kaching-bundles__bar-container:before{
content: "Best Value!";
    position: absolute;
    top: -20px;
    left: 0px;
    background-color: #000;
    width: calc(100% - 0px);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 4px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 2px solid #000;
    border-bottom: none;
}
   /* .kaching-bundles__bar-main .kaching-bundles__bar-radio{
          border: 3px solid transparent;
    }
    .kaching-bundles__bar .kaching-bundles__bar-radio{
          position: relative;
    }
  .kaching-bundles__bar :checked+.kaching-bundles__bar-container .kaching-bundles__bar-radio:after{
   content: "✔";
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
   display: inline-table;
    } */

        {% if product.handle == 'mouth-tape-for-sleeping' %}
       .kaching-bundles__bars .kaching-bundles__bar:nth-child(2) .kaching-bundles__bar-container:before{
        content: "Three Months";
    }
      .kaching-bundles__bars .kaching-bundles__bar:nth-child(3) .kaching-bundles__bar-container:before{
        content: "Most Popular!";
      }
          .kaching-bundles__bars .kaching-bundles__bar:nth-child(4) .kaching-bundles__bar-container:before{
            content: "Best Value!";
            position: absolute;
            top: -20px;
            left: 0px;
            background-color: #000;
            width: calc(100% - 0px);
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            padding: 0px 4px;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            border: 2px solid #000;
            border-bottom: none;
      }
    .kaching-bundles__bars .kaching-bundles__bar:nth-child(4){
          position: relative;
    padding-top: 20px;
    }
    .kaching-bundles__bars .kaching-bundles__bar:nth-child(4) :checked+.kaching-bundles__bar-container:before{
          border-color: #c9a15b;
    background-color: #c9a15b;
    }
      {% endif %}
    
    @media (min-width: 768px){
.product_image_with_text_section .image_left_side_equal,.product_image_with_text_section .image_right_side_equal,.product_image_with_text_section .content_left_equal,.product_image_with_text_section .content_right_equal{
  width: 50% !important;
}
      .product_image_with_text_section .inner_content_right_spacing{
        padding: 20px 0px 20px 40px;
      }
      .product_image_with_text_section .inner_content_left_spacing{
        padding: 20px 40px 20px 0px;
      }
}

    .image_with_points_main{
    padding: 70px 0 100px;
    }
    .points_listing .points_inner .points_desc::before{
      content: url("https://cdn.shopify.com/s/files/1/1423/1224/files/check_sign.png?v=1685078042");
      position: absolute;
      left: -25px;
      top: 3px;
    }
    .image_points_side .image_left img{
      width: 100%;  
    }
    .points_inner .points_title, .points_inner p{
      margin: 0;
    }
    .image_points_side .points_right {
      padding-left: 8%;
    }
    .points_listing .points_inner .points_desc{
      position: relative;
      margin-bottom: 30px;
    }
    .points_inner .points_title{
      font-size: 18px;
          
    }
    .points_inner p{
      font-size: 16px;
    }
    .image_with_points_main_heading{
      margin-bottom: 60px;
    }
    .image_with_points_main_heading .image_points_heading h3 {
      margin-bottom: 20px
    }
    .image_with_points_main_heading .image_points_subheading p{
      margin: 0 0 30px 0;
    }
    .points_listing .points_inner li::marker{
      padding-top: 5px;
    }
    @media (max-width: 767px){
      .image_points_side .points_right {
            padding-top: 30px;
    }
      .image_with_points_main{
    padding: 30px 0 60px;
    }
      .image_with_points_main_heading .image_points_heading h3 {
    margin-bottom: 16px;
}
      .image_with_points_main_heading {
    margin-bottom: 0;
}
      .image_points_side .points_right {
    padding-left: 10%;
}
          .points_inner .points_title{
      font-size: 16px;
    }
    .points_inner p{
      font-size: 14px;
    }
    }
@media only screen and (max-width: 400px){
.coverd_price_sales_text .inner_sale_point {
    font-size: 18px;
}
    }
    
  .extra_product_main{
  	margin-top: 30px;
  }
  .extra_product_main label{
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;      
    display: -webkit-flex;
    display: flex; 
    align-items: center;
    width:100%;
  }
  .extra_product_main .extra_product_img{
     width: 25%;
  }
  .extra_product_main .extra_product_inner{
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;      
    display: -webkit-flex;
    display: flex; 
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
    padding: 10px;
    border-top: 0;
    transition: 0.3s;
  }
  .extra_product_main .product__price, .extra_product_main .product__price .compare-at{
  	font-size: 14px!important;
  }
  .extra_product_main .product__price {
  	margin-top: 5px;
  }
  .extra_product_main .extra_product_content p{
  	margin: 0!important;
  }
  .extra_product_main .extra_product_content{
    margin-left: 15px;
        width: calc(75% - 15px);
  }
  .extra_product_main .extra_product_wrapper {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .extra_product_main .extra_product_checkbox_wrapper .new_checkbox{
    width: 20px;
    height: 20px;
    border: 3px solid #dde1e6;
    border-radius: 50%;
    transform: scale(0.8);
    margin: 0 5px;
  }
  .extra_product_main .extra_product_checkbox_wrapper .new_checkbox svg{
    width: 20px;
    height: 20px;
    margin-top: -4px;
    margin-left: -2px;
    transform: scale(1.2);
  }
  .extra_product_main .extra_product_checkbox_wrapper #extra_product, .extra_product_main .extra_product_checkbox_wrapper .new_checkbox svg, .extra_product_main .pairs_pro_cover label svg{
    display: none;
  }
  .extra_product_main .extra_product_checkbox_wrapper #extra_product:checked + label svg , .extra_product_main .pairs_pro_cover.active label svg {
    display: block;
        fill: #C9A15B;
  }
  .extra_product_main .extra_product_checkbox_wrapper #extra_product:checked + label .new_checkbox, .extra_product_main .pairs_pro_cover.active label svg{
  	    border: 3px solid transparent;
  }
  .extra_product_main .pairs_pro_cover.active{
    border-color: rgb(201, 161, 91);
  }
  .extra_product_main .extra_product_header{
    margin: 0;
    font-size: 14px;
    color: #fff;
    background: #000;
    border-radius: 10px 10px 0 0;
    padding-left: 5px;
    font-weight: 600;
  }
.extra_product_inner.pairs_pro_cover{
      margin: 0 0 10px 0!important;
      line-height: 1.2;
      border-radius: 10px;
      border: 2px solid rgba(0, 0, 0, 0.2);
    }
  
  @media (max-width: 767px) {
    .extra_product_main{
      margin-top: 12px;
    }
    .extra_product_main .extra_product_wrapper{
    	max-width: 100%;
    }
    .addtocart_below_images .common_img_part{
         display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    }
    .addtocart_below_images .common_img_part .image{
         width: 100%;
    max-width: 50px;
    margin: 0 auto; 
    }
    .addtocart_below_images .common_img_part .image svg{   
    height: auto   
    }
    .addtocart_below_images .common_img_part .text{
         text-align: center;
      width:100%;
    }
  }
  
  @media (max-width: 600px) {
    .extra_product_main{
      margin-top: 0;
    }
    .addtocart_below_images .common_img_part .text{
          font-size: 14px!important;
    }
  }
    .inner_compare,.inner_yes_no{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex}.how-we-compare{padding:70px 0 100px}.how-we-compare .heading h2{margin:0}.how-we-compare .heading p{margin:0 0 50px}.inner_block_content{border:2px solid #c4a265;border-radius:10px}.inner_compare{display:flex;align-items:center}.compare_heading p{margin:0;padding:20px 0}.inner_compare:last-child .compare_heading,.inner_compare:last-child .yes_no_text{border-bottom:0!important}.inner_compare:last-child .yes_no_text:first-child:after{content:'';background-color:#000;width:100%;height:15px;display:block;position:absolute;left:0;bottom:-15px;border-bottom-left-radius:10px;border-bottom-right-radius:10px}.inner_yes_no{display:flex;width:50%;flex-direction:row;flex-wrap:wrap;align-content:center;justify-content:center;align-items:center}.compare_heading{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;width:50%;border-bottom:2px solid #bbb;padding:0 10px 0 40px}.yes_no_icon,.yes_no_text{width:33.333%;text-align:center;line-height:1;border-bottom:2px solid #bbb;padding:20px 10px}.inner_compare:nth-child(2n) .inner_yes_no .yes_no_icon:first-child,.yes_no_text:first-child{background-color:#000;color:#a18553;border-bottom:2px solid #212121}.inner_compare:nth-child(odd) .inner_yes_no .yes_no_icon:first-child{background-color:#212121;color:#a18553;border-bottom:2px solid #212121}.last-contents{display:flex;width:50%;margin-left:auto;flex-direction:row;flex-wrap:nowrap;justify-content:flex-start;align-items:end}.content_instant,.content_pods,.logo_compare{width:100%;text-align:center}.logo_compare img{max-width:35px}.logo_compare{background:#000;padding:12px 0 5px;border-top-left-radius:10px;border-top-right-radius:10px}.yes_no_icon img{max-width:26px}.yes_no_text p{margin:5px 0;line-height:normal}@media (max-width:767px){.compare_heading p,.yes_no_text p{font-size:12px}.compare_heading{padding-left:20px}.logo_compare img{max-width:25px}.yes_no_icon img{max-width:20px}.content_instant p,.content_pods p{font-size:14px}.compare_heading p,.yes_no_icon,.yes_no_text{padding:17px 0}.how-we-compare{padding:30px 0 60px}}@media (max-width:500px){.content_instant,.inner_compare .yes_no_icon:last-child,.inner_compare:last-child .yes_no_text:last-child{display:none}.yes_no_icon,.yes_no_text{width:50%}.compare_heading{padding-left:10px}}@media (max-width:429px){.content_instant p,.content_pods p{font-size:12px}.compare_heading p{padding:8px 0}.yes_no_icon,.yes_no_text{padding:17px 0}}
.logo_compare{
margin-bottom: -2px;
}
    .inner_block_content_heading{
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
           .inner_compare:last-child .yes_no_text:first-child{
     position: relative;
   }
  </style>

<div class="product-section" data-section-id="{{ section.id }}" data-section-type="product">
  {% render 'product-luxury-sleep-mask', product: product, section: section, collection: collection %}
  <script data-settings="{{ section.id }}" type="application/json">
    {%- render 'settings-json-section', settings: section.settings -%}
  </script>
</div>

{% assign current_variant = product.selected_or_first_available_variant %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media.preview_image -%}
    {%- assign image_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media.preview_image | img_url: image_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | default: shop.name | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>




{% schema %}
{
"name": "Product page",
"settings": [
{
	"type" : "color",
	"id" : "product_color",
	"label" : "Background color",
	"default" : "#ECE7E0"
},
{
	"type" : "color",
	"id" : "product_text_color",
	"label" : "Text color",
	"default" : "#171716"
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "image_width",
"label": "Image width",
"default": "half",
"options": [
{ "value": "full", "label": "Full width image"},
{ "value": "wide", "label": "Wide image"},
{ "value": "half", "label": "Balanced"},
{ "value": "narrow", "label": "Narrow image"}
]
},
{
"type": "select",
"id": "align",
"label": "Text alignment",
"default": "product__align-left",
"options": [
{ "value": "product__align-center", "label": "Center"},
{ "value": "product__align-left", "label": "Left"}
]
},
{
"type": "select",
"id": "variant_form",
"label": "Variant option style",
"options": [
{ "value": "button", "label": "Buttons"},
{ "value": "dropdown", "label": "Dropdown"}
]
},
{
"type": "checkbox",
"id": "show_quantity",
"label": "Show quantity selection",
"default": true
},
{
"type": "checkbox",
"id": "show_remaining",
"label": "Show inventory coundown",
"default": true,
"info": "Count down the last 10 items in stock."
},
{
"type": "checkbox",
"id": "enable_payment_button",
"label": "Show dynamic checkout button",
"info": "Lets customers check out directly using a familiar payment method. [Learn More](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"default": false
},
{
"type": "checkbox",
"id": "product_show_vendor",
"label": "Show vendor",
"default": false
},
{
"type": "checkbox",
"id": "social_enable",
"label": "Enable social buttons",
"default": false
},

{
"type": "header",
"content": "Media",
"info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
},
{
"type": "checkbox",
"id": "enable_video_looping",
"label": "Enable video looping",
"default": true
},
{
"type": "checkbox",
"id": "zoom_enable",
"label": "Enable image zoom",
"default": true
},
{
"type":"header",
"content":"ADD TO CART"
},
{
	"type" : "color",
	"id" : "atc_back_color",
	"label" : "Background color",
	"default" : "#131b23"
},
{
	"type" : "color",
	"id" : "atc_text_color",
	"label" : "Text color",
	"default" : "#ece7e0"
},
{
"type":"header",
"content":"Below addtocart images"
},
{
"type": "checkbox",
"id": "enable_imgs",
"label": "Enable",
"default": true
},
{
"type": "html",
"id": "image_1",
"label": "SVG 1"
},
{
"type": "text",
"id": "text_1",
"label": "Text 1"
},
{
"type": "html",
"id": "image_2",
"label": "SVG 2"
},
{
"type": "text",
"id": "text_2",
"label": "Text 2"
},
{
"type": "html",
"id": "image_3",
"label": "SVG 3"
},
{
"type": "text",
"id": "text_3",
"label": "Text 3"
},
  {
"type": "html",
"id": "image_4",
"label": "SVG 4"
},
{
"type": "text",
"id": "text_4",
"label": "Text 4"
},
  {
"type": "html",
"id": "image_5",
"label": "SVG 5"
},
{
"type": "text",
"id": "text_5",
"label": "Text 5"
},
  {
"type": "html",
"id": "image_6",
"label": "SVG 6"
},
{
"type": "text",
"id": "text_6",
"label": "Text 6"
},
{
"type": "header",
"content": "Optional sizing popup"
},
{
"id": "info_page",
"type": "page",
"label": "Select page",
"info": "This popup will show on every product."
},
{
"type": "header",
"content": "Optional product tabs"
},
{
"type": "select",
"id": "tabs_position",
"options": [
{ "value": "sidebar", "label": "Tabs beside image"},
{ "value": "below", "label": "Tabs below"}
],
"label": "Tabs position",
"default": "below",
"info": "Learn more about [product tabs](https://groupthought.com/link/pipeline/docs/tabs)"
}
],
"blocks": [
{
"type": "richtext",
"name": "Rich text",
"settings": [
{
	"type" : "color",
	"id" : "richtext_back_color",
	"label" : "Background color",
	"default" : "#ECE7E0"
},
{
	"type" : "color",
	"id" : "richtext_color",
	"label" : "Text color",
	"default" : "#171716"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Rich Text"
},
{
"type": "richtext",
"id": "home_page_richtext",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
}
]
},
  {
      "type": "html",
      "name": "HTML",
      "settings": [
   {
      "type": "html",
      "id": "html",
      "label": "Custom HTML",
      "default": "<div style='text-align: center; padding: 90px 0;'><h2 class='home__subtitle'>Custom HTML</h2><p>Add your custom HTML here.</p></div>"
    },
      {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    }
      ]
    },
{
"type": "side_by_side_image",
"name": "Side by side image",
"settings": [
{
	"type" : "color",
	"id" : "sbs_back_color",
	"label" : "Background color"
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image 1(Desktop)"
},
{
"type": "image_picker",
"id": "image_1_mobile",
"label": "Image 1(Mobile)"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image 2(Desktop)"
},
{
"type": "image_picker",
"id": "image_2_mobile",
"label": "Image 2(Mobile)"
}
]
},
{
"type": "side_by_side_review_image",
"name": "Side by side review image",
"settings": [
{
	"type" : "color",
	"id" : "review_back_color",
	"label" : "Background color",
	"default" : "#ECE7E0"
},
{
	"type" : "color",
	"id" : "review_text_color",
	"label" : "Text color",
	"default" : "#171716"
},
{
"type": "text",
"id": "text_1",
"label": "Text 1"
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image 1"
},
{
"type": "text",
"id": "text_2",
"label": "Text 2"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image 2"
}

]
},
{
"type": "two_image_with_text",
"name": "Two image with text",
"settings": [
{
"type": "color",
"id": "back_color",
"label": "Background color",
"default": "#E4DDD3"
},
{
"type":"header",
"content":"Left part"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Heading"
},
{
"type": "richtext",
"id": "richtext_1",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image"
},
{
"type":"header",
"content":"Right part"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image"
},
{
"type": "textarea",
"id": "richtext_2",
"label": "Quote",
"default": "Quote"
},
{
"type": "text",
"id": "quote_by",
"label": "Quote_by",
"default": "- Quote by"
},
{
"type": "richtext",
"id": "richtext_3",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
}
]
},
{
"type": "two_columns_img_w_text",
"name": "Two columns img with text",
"settings": [
{
"type": "color",
"id": "back_color",
"label": "Background color",
"default": "#131B23"
},
{
"type": "color",
"id": "heading_color",
"label": "Heading text color",
"default": "#C9A15B"
},
{
"type": "color",
"id": "text_color",
"label": "Text color",
"default": "#ffffff"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Column Heading"
},
{
"type": "richtext",
"id": "richtext",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Column 1"
},
{
"type": "checkbox",
"id": "enable_1",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image"
},
{
"type": "text",
"id": "heading_1",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_1",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Column 2"
},
{
"type": "checkbox",
"id": "enable_2",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image"
},
{
"type": "text",
"id": "heading_2",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_2",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Column 3"
},
{
"type": "checkbox",
"id": "enable_3",
"label": "Enable"
},
{
"type": "image_picker",
"id": "image_3",
"label": "Image"
},
{
"type": "text",
"id": "heading_3",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_3",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Column 4"
},
{
"type": "checkbox",
"id": "enable_4",
"label": "Enable"
},
{
"type": "image_picker",
"id": "image_4",
"label": "Image"
},
{
"type": "text",
"id": "heading_4",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_4",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Column 5"
},
{
"type": "checkbox",
"id": "enable_5",
"label": "Enable"
},
{
"type": "image_picker",
"id": "image_5",
"label": "Image"
},
{
"type": "text",
"id": "heading_5",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_5",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Column 6"
},
{
"type": "checkbox",
"id": "enable_6",
"label": "Enable"
},
{
"type": "image_picker",
"id": "image_6",
"label": "Image"
},
{
"type": "text",
"id": "heading_6",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_6",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Column 7"
},
{
"type": "checkbox",
"id": "enable_7",
"label": "Enable"
},
{
"type": "image_picker",
"id": "image_7",
"label": "Image"
},
{
"type": "text",
"id": "heading_7",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_7",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Column 8"
},
{
"type": "checkbox",
"id": "enable_8",
"label": "Enable"
},
{
"type": "image_picker",
"id": "image_8",
"label": "Image"
},
{
"type": "text",
"id": "heading_8",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_8",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Review image"
},
{
"type": "checkbox",
"id": "enable_review_img",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "review_image_1",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "review_image_2",
"label": "Image 2"
}

]
},
{
"type": "image_with_text",
"name": "Image with text",
"settings": [
{
"type": "color",
"id": "back_color",
"label": "Background color",
"default": "#131B23"
},
{
"type": "color",
"id": "heading_color",
"label": "Heading text color",
"default": "#C9A15B"
},
{
"type": "color",
"id": "text_color",
"label": "Text color",
"default": "#ffffff"
},
{
"type":"header",
"content":"Image right text left"
},
{
"type": "checkbox",
"id": "enable_1",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Image with text"
},
{
"type": "richtext",
"id": "richtext",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image"
},
{
"type":"header",
"content":"Image left text right"
},
{
"type": "checkbox",
"id": "enable_2",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image"
},
{
"type": "text",
"id": "title_2",
"label": "Heading",
"default": "Image with text"
},
{
"type": "richtext",
"id": "richtext_2",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
}
]
},

 
{
"type": "image_with_text_new",
"name": "Image with text fix width",
"settings": [
{
"type": "color",
"id": "back_color",
"label": "Background color",
"default": "#131B23"
},
{
"type": "color",
"id": "heading_color",
"label": "Heading text color",
"default": "#C9A15B"
},
{
"type": "color",
"id": "text_color",
"label": "Text color",
"default": "#ffffff"
},
{
"type":"header",
"content":"Image right text left"
},
{
"type": "checkbox",
"id": "enable_1",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Image with text fix width"
},
{
"type": "richtext",
"id": "richtext",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image"
},
{
"type":"header",
"content":"Image left text right"
},
{
"type": "checkbox",
"id": "enable_2",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image"
},
{
"type": "text",
"id": "title_2",
"label": "Heading",
"default": "Image with text fix width"
},
{
"type": "richtext",
"id": "richtext_2",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
}
]
}, 
  
{
"type": "addtocart_section",
"name": "AddtoCart section",
"settings": [
{
"type": "color",
"id": "back_color",
"label": "Background color",
"default": "#C9A15B"
},
{
"type": "color",
"id": "text_color",
"label": "Text color",
"default": "#131B23"
},
{
	"type" : "color",
	"id" : "atc_back_color",
	"label" : "Button background color",
	"default" : "#131b23"
},
{
	"type" : "color",
	"id" : "atc_text_color",
	"label" : "Button text color",
	"default" : "#ece7e0"
},
{
"type":"header",
"content":"Left part"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Heading"
},
{
"type": "richtext",
"id": "richtext",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Right part"
},
{
"type": "image_picker",
"id": "guarantee_img",
"label": "Guarantee icon"
},
{
"type": "richtext",
"id": "guarantee_text",
"label": "Guarantee text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
}

]
},
{
"type": "faq",
"name": "FAQ",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Frequently Asked Questions"
},
{
"type": "color",
"id": "back_color",
"label": "Background color",
"default": "#E4DDD3"
},
{
"type": "color",
"id": "text_color",
"label": "Text color",
"default": "#131B23"
},
{
"type":"header",
"content":"FAQ 1"
},
{
"type": "checkbox",
"id": "enable_1",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title_1",
"label": "Heading",
"default": "Frequently asked question"
},
{
"type": "richtext",
"id": "content_1",
"label": "Text",
"default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
},
{
"type": "image_picker",
"id": "image_one_1",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "image_two_1",
"label": "Image 2"
},
{
"type":"header",
"content":"FAQ 2"
},
{
"type": "checkbox",
"id": "enable_2",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title_2",
"label": "Heading",
"default": "Frequently asked question"
},
{
"type": "richtext",
"id": "content_2",
"label": "Text",
"default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
},
{
"type": "image_picker",
"id": "image_one_2",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "image_two_2",
"label": "Image 2"
},
{
"type":"header",
"content":"FAQ 3"
},
{
"type": "checkbox",
"id": "enable_3",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title_3",
"label": "Heading",
"default": "Frequently asked question"
},
{
"type": "richtext",
"id": "content_3",
"label": "Text",
"default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
},
{
"type": "image_picker",
"id": "image_one_3",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "image_two_3",
"label": "Image 2"
},
{
"type":"header",
"content":"FAQ 4"
},
{
"type": "checkbox",
"id": "enable_4",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title_4",
"label": "Heading",
"default": "Frequently asked question"
},
{
"type": "richtext",
"id": "content_4",
"label": "Text",
"default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
},
{
"type": "image_picker",
"id": "image_one_4",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "image_two_4",
"label": "Image 2"
},
{
"type":"header",
"content":"FAQ 5"
},
{
"type": "checkbox",
"id": "enable_5",
"label": "Enable",
"default": true
},
{
"type": "text",
"id": "title_5",
"label": "Heading",
"default": "Frequently asked question"
},
{
"type": "richtext",
"id": "content_5",
"label": "Text",
"default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
},
{
"type": "image_picker",
"id": "image_one_5",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "image_two_5",
"label": "Image 2"
},
{
"type":"header",
"content":"FAQ 6"
},
{
"type": "checkbox",
"id": "enable_6",
"label": "Enable",
"default": false
},
{
"type": "text",
"id": "title_6",
"label": "Heading",
"default": "Frequently asked question"
},
{
"type": "richtext",
"id": "content_6",
"label": "Text",
"default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
},
{
"type": "image_picker",
"id": "image_one_6",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "image_two_6",
"label": "Image 2"
},
{
"type":"header",
"content":"FAQ 7"
},
{
"type": "checkbox",
"id": "enable_7",
"label": "Enable",
"default": false
},
{
"type": "text",
"id": "title_7",
"label": "Heading",
"default": "Frequently asked question"
},
{
"type": "richtext",
"id": "content_7",
"label": "Text",
"default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
},
{
"type": "image_picker",
"id": "image_one_7",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "image_two_7",
"label": "Image 2"
},
{
"type":"header",
"content":"FAQ 8"
},
{
"type": "checkbox",
"id": "enable_8",
"label": "Enable",
"default": false
},
{
"type": "text",
"id": "title_8",
"label": "Heading",
"default": "Frequently asked question"
},
{
"type": "richtext",
"id": "content_8",
"label": "Text",
"default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
},
{
"type": "image_picker",
"id": "image_one_8",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "image_two_8",
"label": "Image 2"
},
{
"type":"header",
"content":"FAQ 9"
},
{
"type": "checkbox",
"id": "enable_9",
"label": "Enable",
"default": false
},
{
"type": "text",
"id": "title_9",
"label": "Heading",
"default": "Frequently asked question"
},
{
"type": "richtext",
"id": "content_9",
"label": "Text",
"default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
},
{
"type": "image_picker",
"id": "image_one_9",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "image_two_9",
"label": "Image 2"
},
{
"type":"header",
"content":"FAQ 10"
},
{
"type": "checkbox",
"id": "enable_10",
"label": "Enable",
"default": false
},
{
"type": "text",
"id": "title_10",
"label": "Heading",
"default": "Frequently asked question"
},
{
"type": "richtext",
"id": "content_10",
"label": "Text",
"default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
},
{
"type": "image_picker",
"id": "image_one_10",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "image_two_10",
"label": "Image 2"
}


]
},
{
"type": "review_app",
"name": "App Reviews",
"settings": [
{
"type": "text",
"id": "app_review_title",
"label": "Title"
},
{
"type": "liquid",
"id": "title",
"label": "App code"
},
{
"type": "color",
"id": "back_color",
"label": "Background color",
"default": "#ffffff"		
}
]
},
{
"type": "review",
"name": "Reviews carousel",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Customer Reviews"
},
{
"type": "color",
"id": "back_color",
"label": "Background color",
"default": "#E4DDD3"
},
{
"type": "color",
"id": "text_color",
"label": "Text color",
"default": "#131B23"
},
{
"type":"header",
"content":"Carousel image 1"
},
{
"type": "checkbox",
"id": "enable_1",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 2"
},
{
"type": "checkbox",
"id": "enable_2",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 3"
},
{
"type": "checkbox",
"id": "enable_3",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_3",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 4"
},
{
"type": "checkbox",
"id": "enable_4",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_4",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 5"
},
{
"type": "checkbox",
"id": "enable_5",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_5",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 6"
},
{
"type": "checkbox",
"id": "enable_6",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_6",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 7"
},
{
"type": "checkbox",
"id": "enable_7",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_7",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 8"
},
{
"type": "checkbox",
"id": "enable_8",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_8",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 9"
},
{
"type": "checkbox",
"id": "enable_9",
"label": "Enable",
"default": true
},
{
"type": "image_picker",
"id": "image_9",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 10"
},
{
"type": "checkbox",
"id": "enable_10",
"label": "Enable",
"default": false
},
{
"type": "image_picker",
"id": "image_10",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 11"
},
{
"type": "checkbox",
"id": "enable_11",
"label": "Enable",
"default": false
},
{
"type": "image_picker",
"id": "image_11",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 12"
},
{
"type": "checkbox",
"id": "enable_12",
"label": "Enable",
"default": false
},
{
"type": "image_picker",
"id": "image_12",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 13"
},
{
"type": "checkbox",
"id": "enable_13",
"label": "Enable",
"default": false
},
{
"type": "image_picker",
"id": "image_13",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 14"
},
{
"type": "checkbox",
"id": "enable_14",
"label": "Enable",
"default": false
},
{
"type": "image_picker",
"id": "image_14",
"label": "Image"
},
{
"type":"header",
"content":"Carousel image 15"
},
{
"type": "checkbox",
"id": "enable_15",
"label": "Enable",
"default": false
},
{
"type": "image_picker",
"id": "image_15",
"label": "Image"
}


]
},
{
"type": "shipping-policy",
"name": "Shipping policy",
"settings": [
{
"type": "color",
"id": "back_color",
"label": "Background color",
"default": "#E4DDD3"
},
{
"type": "color",
"id": "text_color",
"label": "Text color",
"default": "#131B23"
},
{
"type":"header",
"content":"First block"
},
{
"type": "image_picker",
"id": "image_1",
"label": "Icon"
},
{
"type": "text",
"id": "heading_1",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_1",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Second block"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Icon"
},
{
"type": "text",
"id": "heading_2",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_2",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Third block"
},
{
"type": "image_picker",
"id": "image_3",
"label": "Icon"
},
{
"type": "text",
"id": "heading_3",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_3",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"paragraph",
"content":"=== Extra content ==="
},
{
"type":"header",
"content":"First content"
},
{
"type": "text",
"id": "heading_4",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_4",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Second content"
},
{
"type": "text",
"id": "heading_5",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "text_5",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type": "richtext",
"id": "bottom_text",
"label": "Bottom text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
}
]
},



{
"type": "divider",
"name": "Divider",
"settings": [
{
  "type": "range",
  "id": "divider",
  "min": 10,
  "max": 200,
  "step": 5,
  "unit": "px",
  "label": "Divider",
  "default": 50
}
]
},
  {
"type": "three_columns_content",
"name": "Three columns content",
"settings": [
  {
"type": "image_picker",
"id": "back_img",
"label": "Background image"
},
{
"type": "color",
"id": "back_color",
"label": "Background color",
"default": "#131B23"
},
{
"type": "color",
"id": "heading_color",
"label": "Heading text color",
"default": "#C9A15B"
},
{
"type": "color",
"id": "text_color",
"label": "Text color",
"default": "#ffffff"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Column Heading"
},
{
"type": "text",
"id": "subheading",
"label": "Subheading",
"default": "Column Subheading"
},  
{
"type": "richtext",
"id": "richtext",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Columns"
},
  {
"type": "text",
"id": "columns_title",
"label": "Heading",
"default": "Columns Heading"
},
{
"type":"paragraph",
"content":"Column 1"
},
{
"type": "checkbox",
"id": "enable_1",
"label": "Enable",
"default": true
},
 {
"type": "text",
"id": "label_1",
"label": "Label"
    },
   {
"type": "html",
"id": "discount_1",
"label": "Discount value"
    },
{
"type": "image_picker",
"id": "image_1",
"label": "Image"
},
{
"type": "html",
"id": "custom_html_1",
"label": "Custom HTML"
},
  {
"type": "text",
"id": "button_text_1",
"label": "Button text",
    "default":"Buy now"
},
{
"type":"paragraph",
"content":"Column 2"
},
  {
"type": "checkbox",
"id": "enable_2",
"label": "Enable",
"default": true
},
   {
"type": "text",
"id": "label_2",
"label": "Label"
    },
     {
"type": "html",
"id": "discount_2",
"label": "Discount value"
    },
{
"type": "image_picker",
"id": "image_2",
"label": "Image"
},
{
"type": "html",
"id": "custom_html_2",
"label": "Custom HTML"
},
  {
"type": "text",
"id": "button_text_2",
"label": "Button text",
    "default":"Buy now"
},
{
"type":"paragraph",
"content":"Column 3"
},
  {
"type": "checkbox",
"id": "enable_3",
"label": "Enable"
},
   {
"type": "text",
"id": "label_3",
"label": "Label"
    },
     {
"type": "html",
"id": "discount_3",
"label": "Discount value"
    },
{
"type": "image_picker",
"id": "image_3",
"label": "Image"
},
{
"type": "html",
"id": "custom_html_3",
"label": "Custom HTML"
},
  {
"type": "text",
"id": "button_text_3",
"label": "Button text",
    "default":"Buy now"
},
 {
"type":"header",
"content":"Bottom content"
}, 
{
"type": "text",
"id": "bottom_heading",
"label": "Title",
"default": "Title"
},
{
"type": "richtext",
"id": "bottom_text",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
  {
"type": "text",
"id": "bottom_btn",
"label": "Button text"
},
  {
        "type": "select",
        "id": "button_action",
        "label": "Button action",
        "options": [
          {
            "value": "scroll-up",
            "label": "Scroll Up"
          },
          {
            "value": "addtocart",
            "label": "Add to cart"
          }
        ]
      
      }
]
},
  {
"type": "products_row_content",
"name": "Products row content",
"settings": [
  {
"type": "image_picker",
"id": "back_img",
"label": "Background image"
},
{
"type": "color",
"id": "back_color",
"label": "Background color",
"default": "#131B23"
},
{
"type": "color",
"id": "heading_color",
"label": "Heading text color",
"default": "#C9A15B"
},
{
"type": "color",
"id": "text_color",
"label": "Text color",
"default": "#ffffff"
},
  {
"type": "color",
"id": "box_bkg_color",
"label": "Box background color",
"default": "#E0D6CC"
},
  {
"type": "color",
"id": "box_text_color",
"label": "Box Heading color",
"default": "#000000"
},
  {
"type": "text",
"id": "free_shipping",
"label": "Free shipping note",
"default": "Free Shipping Australia Wide!"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Column Heading"
},
{
"type": "text",
"id": "subheading",
"label": "Subheading",
"default": "Column Subheading"
},  
{
"type": "richtext",
"id": "richtext",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type":"header",
"content":"Rows"
},
  {
"type": "text",
"id": "columns_title",
"label": "Heading",
"default": "Row Heading"
},
{
"type":"paragraph",
"content":"Row 1"
},
{
"type": "checkbox",
"id": "enable_1",
"label": "Enable",
"default": true
},
  {
"type": "image_picker",
"id": "image_1",
"label": "Image"
},
 {
"type": "text",
"id": "title_1",
"label": "Title"
    },
       {
"type": "html",
"id": "custom_html_1",
"label": "Custom HTML"
    },
   {
"type": "html",
"id": "price_html_1",
"label": "Price HTML"
    },
  {
"type":"paragraph",
"content":"Row 2"
},
{
"type": "checkbox",
"id": "enable_2",
"label": "Enable",
"default": true
},
  {
"type": "image_picker",
"id": "image_2",
"label": "Image"
},
 {
"type": "text",
"id": "title_2",
"label": "Title"
    },
       {
"type": "html",
"id": "custom_html_2",
"label": "Custom HTML"
    },
   {
"type": "html",
"id": "price_html_2",
"label": "Price HTML"
    },
  {
"type":"paragraph",
"content":"Row 3"
},
{
"type": "checkbox",
"id": "enable_3",
"label": "Enable",
"default": true
},
  {
"type": "image_picker",
"id": "image_3",
"label": "Image"
},
 {
"type": "text",
"id": "title_3",
"label": "Title"
    },
       {
"type": "html",
"id": "custom_html_3",
"label": "Custom HTML"
    },
   {
"type": "html",
"id": "price_html_3",
"label": "Price HTML"
    },
  {
"type":"paragraph",
"content":"Row 4"
},
{
"type": "checkbox",
"id": "enable_4",
"label": "Enable",
"default": true
},
  {
"type": "image_picker",
"id": "image_4",
"label": "Image"
},
 {
"type": "text",
"id": "title_4",
"label": "Title"
    },
       {
"type": "html",
"id": "custom_html_4",
"label": "Custom HTML"
    },
   {
"type": "html",
"id": "price_html_4",
"label": "Price HTML"
    },
    {
"type":"paragraph",
"content":"Row 5"
},
{
"type": "checkbox",
"id": "enable_5",
"label": "Enable",
"default": true
},
  {
"type": "image_picker",
"id": "image_5",
"label": "Image"
},
 {
"type": "text",
"id": "title_5",
"label": "Title"
    },
       {
"type": "html",
"id": "custom_html_5",
"label": "Custom HTML"
    },
   {
"type": "html",
"id": "price_html_5",
"label": "Price HTML"
    },
    {
"type":"paragraph",
"content":"Row 6"
},
{
"type": "checkbox",
"id": "enable_6",
"label": "Enable",
"default": true
},
  {
"type": "image_picker",
"id": "image_6",
"label": "Image"
},
 {
"type": "text",
"id": "title_6",
"label": "Title"
    },
       {
"type": "html",
"id": "custom_html_6",
"label": "Custom HTML"
    },
   {
"type": "html",
"id": "price_html_6",
"label": "Price HTML"
    },
    {
"type":"paragraph",
"content":"Row 7"
},
{
"type": "checkbox",
"id": "enable_7",
"label": "Enable",
"default": true
},
  {
"type": "image_picker",
"id": "image_7",
"label": "Image"
},
 {
"type": "text",
"id": "title_7",
"label": "Title"
    },
       {
"type": "html",
"id": "custom_html_7",
"label": "Custom HTML"
    },
   {
"type": "html",
"id": "price_html_7",
"label": "Price HTML"
    },
  {
"type": "text",
"id": "bottom_btn",
"label": "Button text"
},
   {
        "type": "select",
        "id": "button_action",
        "label": "Button action",
        "options": [
          {
            "value": "scroll-up",
            "label": "Scroll Up"
          },
          {
            "value": "addtocart",
            "label": "Add to cart"
          }
        ]
      
      }
]
},
{
  "type": "button_scroll",
"name": "Button scroll",
"settings": [
  {
      "type": "text",
      "id": "prod-btn--text",
      "label": "Button text"
      },
  {
      "type": "color",
      "id": "prod-btn-bg-color",
      "label": "Button background",
    "default": "#fff"
      }
]
},
  {
      "type": "how_we_compare",
    "name": "How we compare",
    "settings": [
      {
      "type": "text",
      "label": "Heading",
      "id": "heading"
      },
      {
      "type": "text",
      "label": "Subheading",
      "id": "subheading"
      },
      {
        "type":"html",
        "id":"coulm_title",
        "label":"Columns title"
      },
      {
        "type":"header",
        "content":"Row 1"
      },
     {
            "type": "text",
            "id": "title_1",
            "default": "Quick links",
            "label": "Heading"
          },
      {
        "type":"html",
        "id":"content_1",
        "label":"Content"
      },
      {
        "type":"header",
        "content":"Row 2"
      },
     {
            "type": "text",
            "id": "title_2",
            "default": "Quick links",
            "label": "Heading"
          },
      {
        "type":"html",
        "id":"content_2",
        "label":"Content"
      },
      {
        "type":"header",
        "content":"Row 3"
      },
     {
            "type": "text",
            "id": "title_3",
            "default": "Quick links",
            "label": "Heading"
          },
      {
        "type":"html",
        "id":"content_3",
        "label":"Content"
      },
      {
        "type":"header",
        "content":"Row 4"
      },
     {
            "type": "text",
            "id": "title_4",
            "default": "Quick links",
            "label": "Heading"
          },
      {
        "type":"html",
        "id":"content_4",
        "label":"Content"
      },
      {
        "type":"header",
        "content":"Row 5"
      },
     {
            "type": "text",
            "id": "title_5",
            "default": "Quick links",
            "label": "Heading"
          },
      {
        "type":"html",
        "id":"content_5",
        "label":"Content"
      },
      {
        "type":"header",
        "content":"Row 6"
      },
     {
            "type": "text",
            "id": "title_6",
            "default": "Quick links",
            "label": "Heading"
          },
      {
        "type":"html",
        "id":"content_6",
        "label":"Content"
      },
      {
        "type":"header",
        "content":"Row 7"
      },
     {
            "type": "text",
            "id": "title_7",
            "default": "Quick links",
            "label": "Heading"
          },
      {
        "type":"html",
        "id":"content_7",
        "label":"Content"
      },
      {
        "type":"header",
        "content":"Row 8"
      },
     {
            "type": "text",
            "id": "title_8",
            "default": "Quick links",
            "label": "Heading"
          },
      {
        "type":"html",
        "id":"content_8",
        "label":"Content"
      },
      {
        "type":"header",
        "content":"Row 9"
      },
     {
            "type": "text",
            "id": "title_9",
            "default": "Quick links",
            "label": "Heading"
          },
      {
        "type":"html",
        "id":"content_9",
        "label":"Content"
      },
      {
        "type":"header",
        "content":"Row 10"
      },
     {
            "type": "text",
            "id": "title_10",
            "default": "Quick links",
            "label": "Heading"
          },
      {
        "type":"html",
        "id":"content_10",
        "label":"Content"
      }
    ]
  },
{
  "type": "image_with_points",
"name": "Image with points",
"settings": [
    {
      "type": "html",
      "id": "image_with_points_heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "image_with_points_subheading",
      "label": "Subheading"
    },
    {
      "type": "image_picker",
      "label": "Image",
      "id": "image_with_points_image"
    },
  {
    "type": "html",
    "label": "Points HTML",
    "id": "image_with_points_html"
  }
]
}
]
}


{% endschema %}
